* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}


.home-container {
  padding-bottom: 390px;
  min-height: 100vh;
}

.img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  display: block;
  overflow: hidden;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--bgColor);
}
.hero-section {
  height: 100vh; /* Wysokość pełnego okna przeglądarki */
  width: 100vw;  /* Szerokość pełnego okna przeglądarki */
 background-image: url("/assets/images/bal_front.jpg");/* Ścieżka absolutna do obrazka */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  /* position: relative; */
  display: block;
  margin-bottom: 40px; /* Dodanie relatywnego pozycjonowania */
}
.hero-section h1 {
  font-size: 4rem;
  margin-top: 70px; /* Zmniejszono margines od góry */
  margin-bottom: 10px; /* Zmniejszono margines od dołu */
  font-family: "Baloo 2", cursive;
}

.hero-section h2 {
  font-size: 2rem;
  margin-bottom: 50px; /* Zwiększono margines od dołu */
  margin-top: 20px; /* Zmniejszono margines od góry */
  font-family: "Baloo 2", cursive;
}

.buy-tickets-button {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: rgb(250, 73, 15);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 200px; /* lub inna szerokość */
  text-decoration: none; /* Usuwa podkreślenie tekstu */
  display: inline-block; /* Umożliwia wyśrodkowanie */
}
.buy-tickets-button:hover {
  background-color: #e04e2a;
}

.header-section {
  text-align: center;
  padding: 20px;
  color: #333;
  font-family: "Baloo 2", cursive;
  font-size: 4rem;
  font-weight: bold;
}
